<div class="container">

    <h1 class="mt-5">Admin Dashboared</h1>
    <div class="col-md-10 m-auto card my-5 p-3">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/admin/topicmanager" class="btn btn-outline-primary">Manage Topic Manager</a></li>
            <li class="list-inline-item"><a href="/admin/manage-users" class="btn btn-outline-primary">Manage Users</a></li>
            <li class="list-inline-item"><a href="/admin/manage-topics" class="btn btn-outline-primary">Manage Topic</a></li>
            <li class="list-inline-item"><a href="/admin/manage-articles" class="btn btn-outline-primary">Manage Articles</a></li>

            <li class="list-inline-item"><a href="/" class="btn btn-primary">Home</a></li>
        </ul>
    </div>

    
    

    
</div>

