<div class="">
    <div class="row my-5 m-auto p-5">
        {{>messages}}
        {{#if blog}}
        <div class="card col mb-5">
        <h1>{{blog.description}}</h1>
        <p><span class="fw-bold">Topic:</span> {{blog.topicdetails.topic}}</p>
        <p class="fs-3 mb-5">{{blog.article}}</p>
        </div>
        {{/if}}
    </div>
</div>